In [1]:
import pandas as pd
import numpy as np

In [10]:
mf1 = pd.read_csv('/Users/singhanyadav/Desktop/DATATHON/transactions_datathon_ready.csv')

In [11]:
mf1

,amount,zip,mcc,date,use_chip,merchant_city,merchant_state,user_id,transaction_id
0,201.787069,48036.0,4899.0,2010-01-01 13:47:00,Online Transaction,ONLINE,CA,0,1
1,42.283621,23707.0,5719.0,2010-01-01 11:29:00,Swipe Transaction,Portsmouth,VA,0,2
2,7.060345,62865.0,5411.0,2010-01-01 06:16:00,Swipe Transaction,Mulkeytown,IL,0,3
3,4.767241,46124.0,5411.0,2010-01-01 11:44:00,Swipe Transaction,Edinburgh,IN,0,4
4,58.208621,70605.0,5411.0,2010-01-01 09:55:00,Swipe Transaction,Lake Charles,LA,0,5
...,...,...,...,...,...,...,...,...,...
2317350,699.943966,60005.0,7802.0,2010-01-01 01:48:00,Swipe Transaction,Arlington Heights,IL,58644,2317351
2317351,77.702586,27278.0,5651.0,2010-01-01 04:38:00,Swipe Transaction,Hillsborough,NC,58644,2317352
2317352,21.556034,95035.0,5310.0,2010-01-01 05:51:00,Swipe Transaction,Milpitas,CA,58644,2317353
2317353,6.297414,57110.0,5814.0,2010-01-01 06:15:00,Swipe Transaction,Sioux Falls,SD,58644,2317354
2317354,73.357759,48036.0,4784.0,2010-01-01 09:15:00,Online Transaction,ONLINE,CA,58644,2317355

In [12]:
mf2 = pd.read_csv('/Users/singhanyadav/Desktop/DATATHON/train.csv')

In [13]:
mf2

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2,VENTURE,B,15000,11.11,0.20,N,5,0

In [21]:
mf1_agg = (
    mf1
    .groupby("user_id")
    .agg(
        txn_count=("transaction_id", "count"),
        total_amount=("amount", "sum"),
        avg_amount=("amount", "mean"),
        max_amount=("amount", "max"),
        std_amount=("amount", "std"),
        online_txn_count=("use_chip", lambda x: (x == "Online Transaction").sum()),
        swipe_txn_count=("use_chip", lambda x: (x == "Swipe Transaction").sum()),
    )
    .reset_index()
)
mf1_agg

,user_id,txn_count,total_amount,avg_amount,max_amount,std_amount,online_txn_count,swipe_txn_count
0,0,45,878.970690,19.532682,201.787069,72.296769,4,41
1,1,47,613.064828,13.043933,272.729655,110.657650,0,47
2,2,35,800.019310,22.857695,166.041931,59.787840,3,32
3,3,33,1547.168966,46.883908,340.912069,96.530581,1,32
4,4,34,469.200000,13.800000,345.920690,104.934984,3,31
...,...,...,...,...,...,...,...,...
58640,58640,41,2773.055172,67.635492,819.372414,138.721620,2,39
58641,58641,30,-397.514483,-13.250483,39.431172,58.782259,5,25
58642,58642,42,-155.206207,-3.695386,60.242069,68.912987,5,37
58643,58643,47,-260.958621,-5.552311,41.074138,50.582672,10,37
58644,58644,48,2336.663793,48.680496,699.943966,108.974253,6,42

In [23]:
mf2_fixed = mf2.rename(columns={"id": "user_id"})
mf2_fixed

,user_id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2,VENTURE,B,15000,11.11,0.20,N,5,0

In [25]:
mf3 = mf1_agg.merge(
    mf2_fixed,
    on="user_id",
    how="left"
)
mf3

,user_id,txn_count,total_amount,avg_amount,max_amount,std_amount,online_txn_count,swipe_txn_count,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,45,878.970690,19.532682,201.787069,72.296769,4,41,37,35000,RENT,0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,47,613.064828,13.043933,272.729655,110.657650,0,47,22,56000,OWN,6,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,35,800.019310,22.857695,166.041931,59.787840,3,32,29,28800,OWN,8,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,33,1547.168966,46.883908,340.912069,96.530581,1,32,30,70000,RENT,14,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,34,469.200000,13.800000,345.920690,104.934984,3,31,22,60000,RENT,2,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,41,2773.055172,67.635492,819.372414,138.721620,2,39,34,120000,MORTGAGE,5,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,30,-397.514483,-13.250483,39.431172,58.782259,5,25,28,28800,RENT,0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,42,-155.206207,-3.695386,60.242069,68.912987,5,37,23,44000,RENT,7,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,47,-260.958621,-5.552311,41.074138,50.582672,10,37,22,30000,RENT,2,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,48,2336.663793,48.680496,699.943966,108.974253,6,42,31,75000,MORTGAGE,2,VENTURE,B,15000,11.11,0.20,N,5,0

In [26]:
mf3

,user_id,txn_count,total_amount,avg_amount,max_amount,std_amount,online_txn_count,swipe_txn_count,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,45,878.970690,19.532682,201.787069,72.296769,4,41,37,35000,RENT,0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,47,613.064828,13.043933,272.729655,110.657650,0,47,22,56000,OWN,6,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,35,800.019310,22.857695,166.041931,59.787840,3,32,29,28800,OWN,8,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,33,1547.168966,46.883908,340.912069,96.530581,1,32,30,70000,RENT,14,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,34,469.200000,13.800000,345.920690,104.934984,3,31,22,60000,RENT,2,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,41,2773.055172,67.635492,819.372414,138.721620,2,39,34,120000,MORTGAGE,5,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,30,-397.514483,-13.250483,39.431172,58.782259,5,25,28,28800,RENT,0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,42,-155.206207,-3.695386,60.242069,68.912987,5,37,23,44000,RENT,7,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,47,-260.958621,-5.552311,41.074138,50.582672,10,37,22,30000,RENT,2,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,48,2336.663793,48.680496,699.943966,108.974253,6,42,31,75000,MORTGAGE,2,VENTURE,B,15000,11.11,0.20,N,5,0

In [27]:
mf3.to_csv("freshman12.csv")